body {
	font: 14px Arial;
	color: white;
    /*background-image: url(../img/back.png);*/
    background: #111111;
    overflow: hidden;
}

*::-webkit-scrollbar {
    background-color: #4b4b4b;
    color: #ffffff;
    width: 16px;
    border: 1px;
    border-style: solid;
    border-color: #111;
    background: linear-gradient(90deg, #121212 0%, #222 100%);
}

a:link

*::-webkit-scrollbar-thumb {
    border: 1px;
    border-style: groove;
    border-radius: 8px;
    border-color: #333;
    /*background: #3b3b3b;*/
    background: linear-gradient(90deg, #242424 0%, #121212 100%);
}

*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #222 0%, #121212 100%);
}

*::-webkit-scrollbar-thumb:active {
    background: linear-gradient(90deg, #111 0%, #121212 100%);
}

.scroller {
	width: 55px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    height: 98vh;
    flex: 1 1 auto;
}

.scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.listItem {
    position: relative;
    margin: 0 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 72px;
    height: 50px;
}

.listImg {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
}

.avatar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
}

.sidebar {
    width: 240px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 98vh;
    background: #151515;
}

.content {
	margin: 0px;
	float: left;
	height: 98vh;
	width: calc(75%);
    flex: 1 1 auto;
    justify-content: stretch;
    align-items: stretch;
}

.chatContent {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    height: 98vh;
	width: calc(100vw - 600px);
    flex: 1 1 auto;
}

.messagesWrapper {
	height: calc(98vh - 60px);
	max-height: calc(98vh - 60px);
	overflow-y: auto;
	width: auto;
}

.post_form {
	position: absolute;
	bottom: 0;
	width: calc(120%);
	height: 50px;
}

.message {
	position: relative;
	outline: none;
	margin-bottom: 10px;
}

.message:hover {
	background: #0e0e0e;
}

.message:hover > .reply-btn {
    display: inline;
}

.message.disabled:hover {
    background: transparent;
}

.username_block {
	position: absolute;
	left: 50px;
}

.reply-btn {
    cursor: pointer;
    float: right;
    margin-right: 10px;
    display: none;
}

.umessage_content {
    position: static;
    margin-left: 53px;
    white-space: break-spaces;
    word-wrap: break-word;
    margin-top: -18px;
    background-color: transparent !important;
}

.channel_btn {
	min-width: 240px;
	text-align: left;
	min-height: 30px;
	border: none;
	/*background: #1e1e1e;*/
	background: transparent;
	color: lightgrey;
}

.channel_btn.off::before {
    content: 'â’ ';
}
.channel_btn.off:disabled {
    background: transparent;
    color: lightgrey;
}

.channel_btn.add::before {
	content: '+ ';
}

.channel-name {
    min-width: 225px;
}

.channel_btn:hover {
	background: #232323;
	color: #dddddd;
}

.channel_btn:active {
	background: #2e2e2e;
	color: white;
} 
.active, .active:hover {
    background: #2e2e2e;
    color: white;
}

.ch-btn {
    cursor: pointer;
    display: none;
}

.active > .ch-btn, .active:hover > .ch-btn, .channel_btn:hover > .ch-btn{
    display: inline;
}

.channel_btn::before {
	content: '# ';
}

#draggable, .draggable {
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 100500;
    width: 250px;
    height: 300px;
    background: #1d1d1d;
    border: #3e3e3e solid;
}

.btn-small {
    color: white;
    border: 1px solid white;
    background-color: #1e1e1e;
    cursor: pointer;
}

.btn-small.btn-ch-settings {
    width: 10px;
    height: 10px;
    border: none;
    font-size: 16px;
}

.btn-ch-settings {
    text-align: right;
}

.btn-small.close-btn {
    background-color: #ff1111;
    float: right;
}
.btn-small.settings-btn {
    background-color: #009dff;
    float: right;
}

.dark {
    border: 1px solid #2d2d2d;
    background: #1e1e1e;
    color: white;
    outline: none;
}

button.dark:hover {
    background: #222;
}

button.dark:active {
    background: #111;
}

.sb-username {
    position: absolute;
    top: 1px;
    font-weight: bold;
    font-size: 16px;
    color: #ccc;
}

tr.selectable:hover {
    background: #0e0e0e;
    cursor: pointer;
}

.spoiler {
    background: black;
    color: black;
}
.spoiler:hover {
    background: transparent;
    color: white;
}

.codeblock {
    border: 1px solid #3d3d3d;
    width: auto;
    white-space: pre-wrap;
}

a:link{
  color: #0390fc;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #0390fc;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #1f9eff;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #005a9e;
  background-color: transparent;
  text-decoration: underline;
}

.attachment {
    border: 1px solid #444;
    padding: 5px;
    width: 400px;
}

label {
    color: black;
}

.color-row.label {
    color: black;
}